@{
    ViewBag.Title = "About";
}
<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co @@templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<body class="subpage">

    <!-- One -->
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>BTS</p>
                <h2>We are not seven, with you</h2>
            </header>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <p>BTS</p>
                        <h2>注意事項</h2>
                    </header>
                    <h2>1.限購三組</h2>
                    <h4>系統無法限制下單數量，但每人每款商品基本限訂三組，<a style="color:red">大量訂購請提前告知原因</a>，二次代購勿擾。</h4>
                    <h2>2.二日內付款</h2>
                    <h4><a style="color:red">訂單請於48小時內完成付款轉帳</a>，若未於繳款截止時間內完成付款，請重新下單。</h4>
                    <h2>3.正確付款</h2>
                    <h4>請依訂單金額匯款，若超出或少於訂單金額無法完成出貨。</h4>
                    <h2>4.訂單查詢</h2>
                    <h4>請登入會員E-mail查看我的訂單</h4>
                    <h2>5.訊息通知</h2>
                    <h4>所有訂單異動皆會發信通知，<a style="color:red">註冊會員時請留下最常用的電子郵件信箱</a></h4>
                    <h2>6.取消訂單</h2>
                    <h4>商品完成付款且出貨，如不是商品受損問題，接不接受取消。</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer" style="background-color:#06cec1">
        <div class="container">
            <ul class="icons">
                <li><a href="https://twitter.com/bts_twt" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/bangtan.official/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/bts.bighitofficial/?hl=zh-tw" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.youtube.com/user/BANGTANTV" class="icon fa-youtube"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div style="color:white">
            <p> 聯絡電話:0908190327</p>
            <p>電子信箱:dh5673@gmail.com</p>
            <p>聯絡時間:星期一至星期六 9:00AM 至 9:00PM</p>
        </div>
    </footer>

</body>
</html>
