@using Microsoft.AspNet.Identity;
@model List<WebApplication1.Models.Link>
@{
    ViewBag.Title = "Album";

}


<html>
<body class="subpage">
    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide1.jpg" alt="" />
            <div class="inner">
                <header>
                    <p> <a href="https://templated.co"></a></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide2.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide4.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide5.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
    </section>

    <!-- ONE -->
    <div>
        <div class="container">
            <div class="row no-collapse-1">
                @foreach (var db in this.Model)
                {
                    <section class="4u" style="text-align:center;margin:35PX;width:320PX">
                        <a href="~/Views/Product/Index1.cshtml" class="image featured"><img src="@db.img" style="height:300PX;width:300PX" ></a>
                        <div style="text-align:center;width:320PX;">
                            <p>@db.Name</p>
                            <p>價格:@db.Price</p>
                            <a onclick="AddtoCar('@db.Id')" herf="javascript:viod(0);" class="button alt">加入購物車</a>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer" style="background-color:#06cec1">
        <div class="container">
            <ul class="icons">
                <li><a href="https://twitter.com/bts_twt" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/bangtan.official/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/bts.bighitofficial/?hl=zh-tw" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.youtube.com/user/BANGTANTV" class="icon fa-youtube"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div>
            <a>Sian</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>

