@{
    ViewBag.Title = "Index";
}

<!DOCTYPE HTML>

<html>
<body class="subpage">
    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide1.jpg" alt="" />
            <div class="inner">
                <header>
                    <p> <a href="https://templated.co"></a></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide2.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide4.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide5.jpg" alt="" />
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner" style="width:560px;height:315px;">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class=video-container>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/gdZLi9oWNZg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p> We are not seven, with you</p>
                <h2>BTS</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">BTS</p>
                <h2>
                    Photo
                </h2>
            </header>
            <div class="gallery">
                <div>
                    <div class="image fit">
                        <a href="#"><img src="~/images/pic01.jpg" alt="" /></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="~/images/pic02.jpg" alt="" /></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="~/images/pic03.jpg" alt="" /></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="~/images/pic04.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer" style="background-color:#06cec1">
        <div class="container">
            <ul class="icons">
                <li><a href="https://twitter.com/bts_twt" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/bangtan.official/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/bts.bighitofficial/?hl=zh-tw" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.youtube.com/user/BANGTANTV" class="icon fa-youtube"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div style="color:white">
            <p> 聯絡電話:0908190327</p>
            <p>電子信箱:dh5673@gmail.com</p>
            <p>聯絡時間:星期一至星期六 9:00AM 至 9:00PM</p>
        </div>
    </footer>


</body>
</html>